/*
    GLOBAL STYLE SHEET
*/

/** {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*}*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300&display=swap');

body{
  font-family: 'Ubantu', sans-serif !Important;
  margin: 0;
  background-color: #d3f0e2 !important;
}
.btn, .fab , .fa{
  margin: 5px;
}

.landing-page{
  background: white url("./assets/img/green-building.jpg") no-repeat scroll center;
  background-size: cover;
  height: 100vh;
  color: aqua;
}

.wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}